rt_env/
__pycache__/

*.sqlite3

sent_emails/

notes/

screenshots/

.DS_Store


current_data/
irg_viz/templates/irg_viz/plot_fragments/

animation_frames/
animation_output/
animation_input_files/


.env*

deployment_resources/


media/plot_images/irg_critical_forecast_plot_current_extended.png