rt_env/
__pycache__/

*.sqlite3

sent_emails/

notes/

screenshots/

.DS_Store


current_data/
media/plot_images/
irg_viz/templates/irg_viz/plot_fragments/

animation_frames/
animation_output/
animation_input_files/


.env*

