asgiref
attrs
beautifulsoup4
certifi
cffi
chardet
cryptography
cycler
defusedxml
Django
django-allauth
django-anymail
django-bootstrap4
django-extensions
idna
iniconfig
kiwisolver
lxml
matplotlib
numpy
oauthlib
packaging
pluggy
py
pycparser
PyJWT
pyparsing
pytest
pytest-django
python-dateutil
python3-openid
pytz
requests
requests-oauthlib
retrying
six
soupsieve
sqlparse
toml
urllib3
