{% extends "irg_viz/base.html" %}

{% load i18n %}

{% load bootstrap4 %}

{% block page_header %}
  <h2>Change password</h2>
{% endblock page_header %}

{% block content %}

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
  {% endif %}

  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" name="action">{% trans "Change Password" %}</button>
  </form>
{% endblock %}