{% extends "irg_viz/base.html" %}

{% load i18n %}

{% load bootstrap4 %}

{% block page_header %}
  <h2>Change password</h2>
{% endblock page_header %}

{% block content %}

  <hr />

  <h4>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h4>

  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    <hr />
  {% else %}
    {% if form %}
      <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button name="submit" class="btn btn-primary">Change password</button>
      </form>
    {% else %}
      <p>{% trans 'Your password is now changed.' %}</p>
    {% endif %}
  {% endif %}
{% endblock %}