.jumbotron {
    padding: 1.5rem 2rem;
}

img {
    padding-bottom: 1em;
}


p.notification-text {
    margin-bottom: 0;
    font-size: 1.2em;
}

p.notification-author {
    text-align: right;
    margin-bottom: 0em;
}

p.notification-timestamp {
    margin-bottom: 0.2em;
}

p.edit-notification {
    text-align: right;
    margin-bottom: 0;
    margin-top: 0;
}


div.all-notifications-card {
    margin-bottom: 1.2rem;
}

div.all-notifications-card-header {
    padding: 0.2rem 1rem 0.2rem 0.5rem;
}

div.all-notifications-card-footer {
    padding: 0.2rem 1rem 0.2rem 0.5rem;
    text-align: right;
}

div.all-notifications-card-active {
    border: 3px solid #fbb;
}

div.all-notifications-active {
    background-color: #fbb;
}

div.card-body-all-notifications {
    padding: 0.2rem 1rem 0.2rem 1rem;
}


.all-notifications-text p {
    margin-bottom: 0.2rem;
}

.card.notification {
    margin-bottom: 1.2rem;
    border: 3px solid #fbb;
    background-color: #eee;
}

.card-header.notification {
    padding: 0.2rem 1rem 0.2rem 0.5rem;
    background-color: #fbb;
}

.card-body.notification {
    padding: 0.2rem 1rem 0.2rem 1rem;
}

.card-body.notification p {
    margin-bottom: 0.2rem;
}