.jumbotron {
    padding: 1.5rem 2rem;
}

img {
    padding-bottom: 1em;
}


p.notification-text {
    margin-bottom: 0;
    font-size: 1.2em;
}

p.notification-author {
    text-align: right;
    margin-bottom: 1em;
}

p.notification-timestamp {
    margin-bottom: 0;
}

div.notifications-active {
    border-radius: 5px;
    padding: 0.5em;
    /*background-color: #e9abb4;*/
    background-color: #fbb;
}