.footer {
  /*position: absolute;*/
  margin-top: 3.5rem;
  padding: 0.75rem;
  padding-bottom: 1.25rem;
  width: 100%;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
}

.footer p {
    margin-bottom: 0.5rem;
}

.footer span {
    margin-right: 3rem;
}