{% extends "irg_viz/base.html" %}

{% load bootstrap4 %}

{% block page_header %}
  <h2>About this project</h2>
{% endblock page_header %}

{% block content %}

  <hr />

  <p>This is a pilot project to determine whether monitoring river levels in a small watershed can lead to a better understanding of when landslides are likely to occur, and just as importantly when they are unlikely to occur. This project is based on a historical analysis of data from the Ḵaasda Héen (Indian River) stream gauge operated by the USGS. This analysis is ongoing. This work is being done in collaboration with the Sitka Sound Science Center <a href="https://sitkascience.org/research-projects/landslide-research/">Landslide Research</a> project.</p>

  <p>The purpose of this site is to help the working group determine how readings from the river gauge correspond to landslide risk in real time, and to determine the most appropriate messaging to accompany this visualization. The long term home for this project is likley to be the NWS, whose job it is to report on current weather events.</p>

  <p>The <a href="https://github.com/ehmatthes/sitka_irg_realtime">source code</a> for this site is in a GitHub repository, and you are welcome to <a href="https://github.com/ehmatthes/sitka_irg_realtime/issues/">report bugs</a> that you find. The <a href="https://github.com/ehmatthes/sitka_irg_analysis">historical analysis</a> that forms the basis of this project is in a separate repository. If you have questions about this project, you can also write to eric@khmpsitka.org.</p>

  <hr />

    
{% endblock content %}