{% load bootstrap4 %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
  <title>Ḵaasda Héen Monitoring Project</title>

  {% bootstrap_css %}
  <link href="{% static 'custom.css' %}" rel="stylesheet" type="text/css" media="screen">
  {% bootstrap_javascript jquery='full' %}

</head>
<body>

  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">

    <a class="navbar-brand" href="{% url 'irg_viz:index'%}">
        Ḵaasda Héen Monitoring Project</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'irg_viz:about' %}">About this project</a>
            <a class="dropdown-item" href="{% url 'irg_viz:hist_examples' %}">Historical examples</a>
            <a class="dropdown-item" href="{% url 'irg_viz:critical_factors' %}">Critical factors</a>
            <a class="dropdown-item" href="{% url 'irg_viz:project_timeline' %}">Project timeline</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="{% url 'irg_viz:next_steps' %}">Next steps</a>
          </div>
        </li>
      </ul>

      {% if user.is_site_admin %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin Tools</a>
            <div class="dropdown-menu">
              <h6 class="dropdown-header">Notifications</h6>
              <a class="dropdown-item" href="{% url 'irg_viz:new_notification' %}">Create new notification</a>
              <a class="dropdown-item" href="{% url 'irg_viz:all_notifications' %}">View all notifications</a>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Invitations</h6>
              <a class="dropdown-item" href="{% url 'accounts:invite_user' %}">Invite a new user</a>
            </div>
          </li>
        </ul>
      {% endif %}

      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <span class="navbar-text">Hello, <a href="{% url 'accounts:profile' %}">{{ user.username }}</a>.</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Log out</a>
          </li>
        {% endif %}
      </ul>
    </div>

  </nav>

  <main role="main" class="container">
    <div class="mb-2">
      {% block page_header %}{% endblock page_header %}
    </div>
    <div>
      {% block content %}{% endblock content %}
    </div>
  </main>

</body>

</html>