{% extends "irg_viz/base.html" %}

{% load bootstrap4 %}

{% block page_header %}
  <h2>Contact information</h2>
{% endblock page_header %}

{% block content %}

  <hr />

  <p>There are a few ways to share feedback or ask questions about this project:</p>

  <ul>
    <li>Open an <a href="https://github.com/ehmatthes/sitka_irg_realtime/issues/">issue</a> on the repository for this live site.</li>
    <li>Open an <a href="https://github.com/ehmatthes/sitka_irg_analysis/issues/">issue</a> on the repository for the historical analysis work.</li>
    <li>Send an email to eric@khmpsitka.org.</li>
    <li>Find me on Twitter: <a href="https://twitter.com/ehmatthes/">@ehmatthes</a></li>
    <li>If we already know each other, feel free to reach out directly.</li>
  </ul>

{% endblock content %}