{% extends "irg_viz/base.html" %}

{% load static %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>Historical examples: Medvejie slide, 9/20/2019</h2>
{% endblock page_header %}

{% block content %}

  <hr />

  <p>A landslide occurred on Green Lake Road just before the Medvejie hatchery on September 20, 2019. On that morning, Ḵaasda Héen began to rise around 7:00 am. The first critical point in this analysis occurred at 12:15 pm. It's interesting to note that this point occurred after a slight pause in the river's rise. The rate of rise had been critical before 12:15, but the total rise was not considered critical until 12:15. The slide occurred "shortly before 1:00 pm" according to a <a href='https://www.kcaw.org/2019/09/20/slide-cuts-off-green-lake-road-hatchery-access/'>KCAW news article</a>. This estimation of the time of the slide matches the time of the power outage that was caused by the slide. </p>

  <p>The following image shows what this analysis would have looked like for the 48-hour period centered around this event:</p>

  <img src="{% get_media_prefix %}plot_images/hist_examples/ir_plot_2019-09-21.png">

  <p>In this image, the critical points are plotted as red dots. The slide is indicated as a vertical green line at the timestamp that matches the best estimate of when the slide occurred. In this event, the slide occurred approximately 35 minutes after the river first reached a critical point.</p>

  <p>Note that the river remained high for a number of hours after the last critical point. This usually happens when rain continues to fall at a rate that keeps the river high, but doesn't cause any further rise. This may indicate that the mountains are shedding water as fast as they are absorbing it, rather than becoming more saturated.</p>

  <p>Here's what this visualization would have looked like in real time:</p>

  <div style="padding:60% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/578538443?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="animation_medvejie_slide_09212019_critical_periods"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

  <p>Note that the dates in the title jump from 9/18 to 9/20 at the first critical point. This is an error in the animation rendering, not an issue in the data.</p>

{% endblock content %}