{% extends "irg_viz/base.html" %}

{% load static %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>Historical examples: Moderate rain event, 7/20/20</h2>
{% endblock page_header %}

{% block content %}

  <hr />

  <p>There are many rain storms in Sitka that feel heavy enough to possibly cause landslides, but don't last long enough to actually do so. A storm like this happened on 7/20/20. Here's what the analysis looks like during this kind of event:</p>

  <img src="{% get_media_prefix %}plot_images/hist_examples/ir_plot_2020-07-20.png">

  <p>It started raining fairly heavily after midnight on 7/20, and the river rose. But the rise was not particularly steep, and the rain did not keep up long enough to cause a significant rise, as far as landslide risk is concerned.</p>

  <p>Here's what this event would have looked like in real time:</p>

  <div style="padding:60% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/578621982?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="animation_072020"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

{% endblock content %}