{% extends "irg_viz/base.html" %}

{% load bootstrap4 %}

{% block page_header %}
  <h2>Historical examples</h2>
{% endblock page_header %}

{% block content %}

  <hr />

  <p>To understand this project, it's helpful to look at some historical examples:</p>
  <p>To understand this project, it's helpful to see what the visualization on the home page would have looked like during historical rain events that were associated with known landslides, and historical rain events that were not associated with known slides.</p>

  <ul>
    <li>Critical rain event associated with a known slide: <a href="">Medvejie slide</a>, 9/20/2019</li>
    <li>Critical rain event not associated with any known slides: __</li>
    <li>Heavy rain event that almost reached the critical region: __</li>
    <li>Moderately heavy rain event, that never got close to the critical region: __</li>
    <li>Known slide not associated with a critical period: __</li>
  </ul>

  <hr />

    
{% endblock content %}