{% extends "irg_viz/base.html" %}
{% load static %}
{% load tz %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-3">Ḵaasda Héen Monitoring Project</h1>

    <p class="lead">When are we most at risk for landslides? The stream gauge on Ḵaasda Héen (Indian River) seems to act as a proxy for primary landslide indicators such as soil moisture content. Basically, when the river is rising at a critical rate within a critical period of time, this is an indication that soil moisture content is rising.</p>
    <p class="lead">This is an experimental project; the data you see here may be outdated or incorrect, and the interpretations of this data may be flawed. To understand this project better, including its limitations, you may want to look at some <a href="{% url 'irg_viz:hist_examples' %}">historical examples</a>.
    </p>


  </div>

{% endblock page_header %}

{% block content %}

  <hr />
  {% if notifications %}
      {% for notification in notifications %}
        <div class="card notification">
          <div class="card-header notification">
            {{ notification.date_added|timezone:'US/Alaska'|date:'m/d/Y H:i e' }}
          </div>
          <div class="card-body notification">
            {{ notification.text|linebreaks }}
          </div>
          {% if user.is_site_admin %}
            <div class="card-footer notification">
            <p class="edit-notification">
              <a href="{% url 'irg_viz:edit_notification' notification.id %}">Edit notification</a>
            </p>
          </div>
          {% endif %}
        </div>

      {% endfor %}
    </div>
  {% endif %}

  <img src="{% get_media_prefix %}plot_images/irg_critical_forecast_plot_current_extended.png">

  <p>The red shaded region represents conditions when the risk of slides has been elevated in the past. The red region is <i>not</i> just based on river height; it's based on river height, <i>and</i> how quickly the river is rising. In a 6-year period from 9/2014 through 12/2020, the river reached the red shaded region 12 times. Five of those periods included a slide which occurred while the river was in the red shaded region. There may have been a couple more slides during these periods as well; it's difficult to determine the timing of a landslide if no one observed it happen.</p>
  <p>The light red region shows how high the river would have needed to be in order to be considered critical. The darker red region shows how close the river is to being in the critical region over the next 4.5 hours. It's important to note that if the river rises slowly, the critical shaded region will rise as well. To indicate elevated risk of slides, the river must rise quickly for an extended period.</p>

  <hr />
  <p>Data source: <a href="https://waterdata.usgs.gov/ak/nwis/uv?cb_00065=on&format=html&site_no=15087700">https://waterdata.usgs.gov/ak/nwis/uv?cb_00065=on&format=html&site_no=15087700</a></p>

  <hr />

{% endblock content %}