{% extends "irg_viz/base.html" %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-3">Indian River Visualizations</h1>

    {% if user.is_authenticated %}
      <p class="lead">This site demonstrates a number of ways to visualize data
        from the Indian River stream gauge, with the goal of helping to assess
        the risk of imminent landslides.
      </p>
      <p><a href="{% url 'irg_viz:simple_irg_plot' %}">Simple river gauge plot</a></p>
      <p><a href="{% url 'irg_viz:irg_cone_plot' %}">Cone plot, like a hurricane track forecast</a></p>
    {% else %}
      <p class="lead">This is an experimental project; you must be logged in
        to see anything.
      </p>
    {% endif %}

  </div>
{% endblock page_header %}