{% extends "irg_viz/base.html" %}

{% load static %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>Interpreting the graph</h2>
{% endblock page_header %}

{% block content %}

  <hr />

  <p>Here's what the graph on the home page might look like after some periods of moderate rainfall:</p>

  <img src="{% get_media_prefix %}plot_images/interpreting_graph/interpreting_1.png">

  <p>There are a few key points to keep in mind when trying to understand this graph:</p>

  <ul>
    <li>The blue line represents the height of the river.</li>
    <li>The red region shows how high the river would need to be at any given point to match conditions when landslide activity has occurred in the past.</li>
      <ul>
        <li>The light red region shows how close we have been to a critical period over the last 6 hours.</li>
        <li>The darker red region shows how high the river would need to be to match critical conditions over the next 4.5 hours. This is not based on a weather forecast; it only shows how much the river would need to rise in the next 4.5 hours in order to be considered critical.</li>
      </ul>
  </ul>

  <p class="font-weight-bold">What does this mean?</p>

  <p>The farther the blue line is from the red region, the farther we are from matching historical conditions that have been associated with landslide activity. The closer the blue line gets to the red region, the closer we are to matching historical conditions associated with landslide activity. When the blue line is in the red region, current conditions match historical conditions associated with landslide activity.</p>

  <p>In this description, "historical conditions" refers to conditions over the 6-year period from 9/2014 through 12/2020 that forms the historical basis for this analysis.</p>

  <p class="font-weight-bold">Why does the red region change shape?</p>

  <p>Historically, landslide activity has been associated with sustained periods of heavy rain. During periods of moderate rainfall, we would still need a sustained period of heavy rain to saturate the ground enough to produce slides. So, if moderate rain causes the river to rise gradually, the height associated with slide activity rises as well. Current conditions may not match historical conditions however; read the <a href="{% url 'irg_viz:disclaimer' %}">disclaimer</a> for a more complete descripition of the limitations of this approach to landslide monitoring.</p>

  <p class="font-weight-bold">Is a landslide about to occur?</p>

  <p>This project will never say with any certainty that a landslide is about to occur. There are simply too many factors that affect whether a landslide is about to be initiated: previous weather, current saturation levels, how localized heavy rainfall has been, temperature, wind, earthquake activity, geological factors, disturbance of a slope, snowmelt, and a number of other factors and combination of factors. This project will only show whether current river conditions match conditions when landslides have occurred during the analysis period that forms the basis of this approach.</p>

  <p>Keep in mind that the height of the river has nothing directly to do with landslide activity; this analysis just uses the height of the river and how it changes over time to get a sense of what might be happening with soil saturation in the river's watershed.</p>

  <p class="font-weight-bold">Further reading</p>

  <p>For more information that's helpful in understanding the graph fully see the <a href="{% url 'irg_viz:about' %}">about</a> page, the <a href="{% url 'irg_viz:hist_examples' %}">historical examples</a>, the description of the <a href="{% url 'irg_viz:critical_factors' %}">critical factors</a>, and the <a href="{% url 'irg_viz:disclaimer' %}">disclaimer</a>.</p>


{% endblock content %}