{% extends "irg_viz/base.html" %}

{% block page_header %}
  <h1>IRG critical forecast plot (interactive)</h1>
  <p>This plot shows the most recent 48 hours of readings from the Indian River stream gauge. It also shows where the readings would need to be over the next 4.5 hours for conditions to match characteristics associated with landslide activity.</p>
  <p>If you hover over the plot, you can see the timestamps and heights associated with any reading, and you can also zoom in on a selected region of the plot.</p>
{% endblock page_header %}

{% block content %}
  {% include "irg_viz/plot_fragments/irg_critical_forecast_current.html" %}
{% endblock content %}