{% extends "irg_viz/base.html" %}

{% block page_header %}
  <h1>IRG critical forecast plot (interactive)</h1>
  <p>This plot shows the most recent 48 hours of readings from the Indian River stream gauge. It also shows where the readings would need to be over the next 4.5 hours for conditions to match characteristics associated with landslide activity.</p>
  <p>If you hover over the plot, you can see the timestamps and heights associated with any reading, and you can also zoom in on a selected region of the plot.</p>
{% endblock page_header %}

{% block content %}
  {% include "irg_viz/plot_fragments/irg_critical_forecast_current.html" %}

  <p>When are we most at risk for landslides? The Indian River stream gauge seems to act as a proxy for primary landslide indicators such as soil moisture content. Basically, when the river is rising rapidly over an extended period of time, this is an indication that soil moisture content is rising.</p>
  <p>The red shade region represents conditions when the risk of slides has been elevated in the past. The red region is <i>not</i> just based on river height; it is based on river height, <i>and</i> how quickly the river is rising. In a 5-year period from 2014-2019, the river reached the red shaded region 9 times. 3 of those periods resulted in a slide which occurred while the river was in the red shaded region. There may have been a couple slides during these periods as well; it is difficult to place the timing of a landslide if no one observed it happen.</p>
  <p>The red shaded area shows how close the river is to being in the critical region over the next 4.5 hours. It's important to note that if the river rises slowly, the critical shade region will rise as well; it's not enough to just rise up to the critical region. To indicate elevated risk of slides, the river must rise quickly for an extended period.</p>
  <p>Data source: <a href="https://waterdata.usgs.gov/ak/nwis/uv?cb_00065=on&format=html&site_no=15087700">https://waterdata.usgs.gov/ak/nwis/uv?cb_00065=on&format=html&site_no=15087700</a></p>
{% endblock content %}