{% extends "irg_viz/base.html" %}
{% load static %}

{% block page_header %}
  <h1>IRG Critical Forecast plot</h1>
  <p>This plot shows the most recent 48 hours of readings from the Indian River stream gauge. It also shows where the readings would need to be over the next 4.5 hours for conditions to match characteristics associated with landslide activity.</p>
{% endblock page_header %}

{% block content %}
  <img src="{% get_media_prefix %}plot_images/irg_critical_forecast_plot_current.png">
{% endblock content %}