{% extends "irg_viz/base.html" %}

{% load bootstrap4 %}

{% block page_header %}
  <h2>Next steps</h2>
{% endblock page_header %}

{% block content %}

  <hr />

  <p>This is an entirely volunteer project. When I have time, these are some of the next steps for the project:</p>

  <ul>
    <li>Share this project with the public</li>
      <p>This visualization has been online since 2/2020, and I watched it through all the heavy rain events in the late summer, fall, and early winter of 2020. It was useful enough in understanding those rain events, that it's worth sharing before the SSSC group is ready to include it in a shared dashboard.</p>
    <li>Listen to feedback from the community</li>
      <p>When I've shared this with people involved in landslide research and weather forecasting work, they've seen the value in the project and have had really helpful suggestions in improving the model. The community will have a different kind of feedback, and I am curious to hear the questions and suggestions that are made once it is public.</p>
    <li>Run the analysis using discharge rather than river height</li>
      <p>I intially ran the analysis based on the height of the river, because that's what visibly changes during heavy rain events. It's somewhat intuitive to begin to analyze the correlation between river height and landslide risk. One main drawback with this approach is that the river has a maximum height. The record height for the river is <a href="https://water.weather.gov/ahps2/hydrograph.php?gage=irva2&wfo=pajk">26.84 feet</a>, which it reached on two separate occasions. At this point the river really begins to spread out instead of rise. Discharge rate does not have this limitation.</p>
      <p>This is an important step to take, because currently this model fails anytime the river plateaus above 24.3 feet. At this stage, it can't gain 2.5 additional feet of rise. So if we have heavy, steady rain that increases the river level to 24.5 feet, and then we get more intense rain that could lead to slides, this model will not detect the additional critical rise.</p>
      <p>This approach is a little less intuitive, because it's harder to picture discharge rate than river height. But I believe varying the critical discharge rate, and rate of change of discharge will lead to critical values with a similar predictive value for landslide risk.</p>
    <li>Continue to work with the SSSC research group, and NOAA/ NWS forecasters</li>
      <p>I am happy to maintain this site as a demonstration project as long as I have the time to do so. But the long-term home for an effective monitoring tool is with an organization like the NWS. I will continue to develop the project when I have time to focus on it, with the hope that it will be taken over by a group that can maintain it indefinitely and continue to refine it.</p>
    <li>Share this work with the larger geological and disaster-response community</li>
      <p>This project works because the Ḵaasda Héen watershed has the right characteristics to serve as a proxy for factors such as soil saturation. There are almost certainly other areas where this model would be useful. I would like to write this up more formally so other researchers can test the model in different watersheds around the region and around the world.</p>
  </ul>

  <hr />

    
{% endblock content %}