{% extends "irg_viz/base.html" %}

{% load bootstrap4 %}

{% block page_header %}
  <h2>Project timeline</h2>
{% endblock page_header %}

{% block content %}

  <hr />

  <p>A timeline is helpful in understanding how this project has evolved.</p>

  <ul>
    <li>8/18/2015</li>
      <p>Heavy rains resulted in several landslides along the Sitka road system. A slide at the south end of Kramer avenue caused three fatalities. This event lead to the formation of the landslide research group, organized through the Sitka Sound Science Center.</p>
      <p>I was on a run with a friend to Indian River falls during this storm, and we were both noticing a much faster and more significant rise in the river than we had ever seen before. We came out of the woods and learned about the slides that had happened in town. I began watching the river gauge during heavy rain events after this time.</p>
    <li>11/2015</li>
      <p>I <a href="https://github.com/ehmatthes/sitka_landslides">started a project</a> that attempted to "identify a weather signature that can be used to predict impending landslides with reasonable accuracy". I didn't get very far, because I was trying to include too many factors in the analysis. I was originally trying to work with rainfall, wind speeds, and river gauge data. I couldn't make meaningful progress in the time I had at that point.</p>
    <li>9/2019</li>
      <p>In fall 2019 I was no longer teaching in the classroom, and I had more time to give to this project. I began the project from scratch, focusing on just two critical factors: rate of rise of the river, and height of the river. The initial analysis flagged 9 high-risk periods in a 5-year period, and 3 of those periods were associated with slides. This showed that the analysis was worth pursuing and refining. I also began sharing this work with people in the SSSC landslide research group around this time.</p>
    <li>1/2020</li>
      <p>In January I <a href="https://github.com/ehmatthes/sitka_irg_analysis">posted the project publicly</a>. Anyone is welcome to run the analysis for themselves, and I welcome <a href="https://github.com/ehmatthes/sitka_irg_analysis/issues">feedback</a> on the project. I also wrote a fairly formal <a href="https://github.com/ehmatthes/sitka_irg_realtime/raw/make_public/my_docs/Landslide%20Warning%20System%20-%20IRStream%20Gauge.pdf">report</a> about the first phase of the project.</p>
    <li>2/2020</li>
      <p>I presented the intial report to the research group, and attended the SSSC Landslide Warning System Planning Workshop. I began talking with people from NOAA at this point, who expressed interest in the project. I also had informal discussions with a number of people at the workshop about what a real-time visualization of landslide risk based on river activity might look like. By the end of February, the first working version of the live visualization was online. This was shared with several people in Sitka with whom I've been discussing landslides for years, and members of the research group. This was a private site with a simple invite-only login system.</p>
    <li>2/9/2021</li>
      <p>I updated the historical analysis to cover the period from 9/5/2014 through 12/31/2020. During this period, 5 of 12 critical periods were associated with known slides in the Sitka area. I presented this work to staff from the NWS Alaska-Pacific River Forecast Center, who were supportive of the project. Two specific things came out of this presentation. First, the USGS changed the setting on the river gauge to transmit readings every 15 minutes, instead of grouping readings and sending a transmission once per hour. Second, there was a suggestion to run this analysis based on discharge rate rather than river height. That is a really good suggestion, because discharge rate does not have a ceiling like river height does. I have not had time to make this analysis, but that is the next step I'm planning in improving the model.</p>
    <li>6/2021</li>
      <p>SSSC shared that they plan to have a first version of a dashboard sometime in 2022. That led to the decision to make this project public on its own, rather than waiting through another year to share this with the community.</p>
  </ul>

{% endblock content %}