{% extends "irg_viz/base.html" %}

{% block page_header %}
  <h1>Simple IRG plot</h1>
  <p>This is a simple plot of the most recent 48 hours of readings from the Indian River stream gauge. The plot always has the same range on the y-axis, so short periods of intense rain are not exagerrated.</p>
{% endblock page_header %}

{% block content %}
  {% include "irg_viz/plot_fragments/simple_irg_plot_current.html" %}

  <p>Data source: <a href="https://waterdata.usgs.gov/ak/nwis/uv?cb_00065=on&format=html&site_no=15087700">https://waterdata.usgs.gov/ak/nwis/uv?cb_00065=on&format=html&site_no=15087700</a></p>
{% endblock content %}